__pycache__/
*.pyc
.env
.venv/
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
.DS_Store
Thumbs.db
*.sqlite3
/.idea/
/.vscode/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/processed/visualizations/*
!data/processed/visualizations/.gitkeep
exports/*
!exports/.gitkeep
reports/*
!reports/.gitkeep
